@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  ::selection {
    @apply bg-indigo-500 text-white;
  }
}

@layer utilities {
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded hover:bg-slate-400 border-2 border-solid border-slate-100;
  }
}